---
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
import PostsPreview from "@components/PostsPreview.astro"

import type { MDXInstance } from "astro"
import type { Frontmatter } from "@types"

interface Props {
  posts: MDXInstance<Frontmatter>[]
}

export async function getStaticPaths({}) {
  const posts = await Astro.glob<Frontmatter>("../*.mdx")
  const tags = posts.map((p) => p.frontmatter.tags ?? []).flat()
  const uniqueTags = Array.from(new Set(tags))
  return uniqueTags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        posts: posts.filter((post) => {
          const { tags = [] } = post.frontmatter
          return tags.includes(tag)
        }),
      },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<PageLayout title={`Dan's posts tagged ${String(tag)}`}>
  <Window
    tabs={[
      { href: "/posts", title: "Posts" },
      { href: "/posts/tags", title: "Tags" },
      { title: `Tags > ${tag}`, isActive: true },
    ]}
  >
    <div class="page-wrapper">
      <header class="page-header">
        <h1 class="page-heading">
          Posts tagged {tag}
        </h1>

        <p class="page-text mt-6">
          See <a
            class="text-slate-900 dark:text-white font-medium underline decoration-solid"
            href="/posts/tags">tags</a
          > to discover posts about other topic(s).
        </p>
      </header>

      <div class="page-content">
        <PostsPreview posts={posts} />
      </div>
    </div>

    <div
      slot="footer"
      class="flex-1 flex items-center flex-row-reverse gap-5 px-2"
    >
      <div class="flex items-center gap-1 truncate">
        <span class="inline-block">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <span
          class="inline-block truncate"
          title={`${posts.length} ${posts.length > 1 ? "posts" : "post"}`}
          >{posts.length} {posts.length > 1 ? "posts" : "post"}</span
        >
      </div>
    </div>
  </Window>
</PageLayout>
