---
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
import Tag from "@components/Tag.astro"
import { getAlphabeticallySortedTagsFromPosts } from "@utils/tags"

import type { Frontmatter } from "@types"

const posts = await Astro.glob<Frontmatter>("../**/*.mdx")
const tagsSorted = getAlphabeticallySortedTagsFromPosts(posts)
const footerText = `${tagsSorted.length} ${
  tagsSorted.length > 1 ? "tags" : "tag"
}`
---

<PageLayout title="Dan's tags">
  <Window
    tabs={[
      { href: "/posts", title: "Posts" },
      { title: "Tags", isActive: true },
    ]}
  >
    <div class="page-wrapper">
      <header class="page-header">
        <h1 class="page-heading">Discover posts by topic</h1>

        <p class="page-text mt-6">
          Select a tag below to see all posts for that topic.
        </p>
      </header>

      <div class="page-content">
        <ul class="list-none flex flex-wrap items-center gap-2">
          {
            tagsSorted.map((tag) => {
              return (
                <li class="flex">
                  <Tag name={tag}>{tag}</Tag>
                </li>
              )
            })
          }
        </ul>
      </div>
    </div>

    <div
      slot="footer"
      class="flex-1 flex items-center flex-row-reverse gap-5 px-2"
    >
      <div class="flex items-center gap-1 truncate">
        <span class="inline-block">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentcolor"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M5.5 3A2.5 2.5 0 003 5.5v2.879a2.5 2.5 0 00.732 1.767l6.5 6.5a2.5 2.5 0 003.536 0l2.878-2.878a2.5 2.5 0 000-3.536l-6.5-6.5A2.5 2.5 0 008.38 3H5.5zM6 7a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <span class="inline-block truncate" title={footerText}>
          {footerText}
        </span>
      </div>
    </div>
  </Window>
</PageLayout>
