---
import PostsPreview from "@components/PostsPreview.astro"
import Window from "@components/Window.astro"
import * as config from "@config"
import PageLayout from "@layouts/Page.astro"
import { sortPostsRecentlyPublished } from "@utils/posts"
import { getCollection } from "astro:content"

const posts = await getCollection("posts")
const postsSorted = sortPostsRecentlyPublished(posts)
const footerText = `${postsSorted.length} ${
  postsSorted.length > 1 ? "posts" : "post"
}`
---

<PageLayout
  title={config.PAGES.POSTS.TITLE}
  description={config.PAGES.POSTS.DESCRIPTION}
>
  <Window
    tabs={[
      { title: "Posts", isActive: true },
      { href: "/posts/tags", title: "Tags" },
    ]}
  >
    <div class="page-wrapper">
      <header class="page-header">
        <h1 class="page-heading">
          {config.PAGES.POSTS.DESCRIPTION}
        </h1>

        <p class="page-text mt-6">
          See <a class="page-link" href="/posts/tags">tags</a> to discover posts
          by topic. Or browse all posts below.
        </p>
      </header>

      <div class="page-content">
        <PostsPreview posts={postsSorted} />
      </div>
    </div>

    <div
      slot="footer"
      class="flex-1 flex items-center flex-row-reverse gap-5 px-2"
    >
      <div class="flex items-center gap-1 truncate">
        <span class="inline-block truncate" title={footerText}>
          {footerText}
        </span>
      </div>
    </div>
  </Window>
</PageLayout>
