---
import * as config from "@config"
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
import Prompt from "@components/Prompt.astro"

const feedsCount = 2
const footerText = `${feedsCount} ${feedsCount > 1 ? "feeds" : "feed"}`
---

<PageLayout
  title={config.PAGES.FEEDS.TITLE}
  description={config.PAGES.FEEDS.DESCRIPTION}
>
  <Window>
    <div class="p-2 font-mono text-sm page-text">
      <div class="max-w-2xl">
        <h1 class="sr-only">{config.PAGES.FEEDS.DESCRIPTION}</h1>

        <p
          aria-hidden="true"
          class="font-semibold text-danos-primary dark:text-danos-primary-inverted"
        >
          <Prompt /> feeds posts
        </p>

        <br />

        <section>
          <h2 class="sr-only">Posts</h2>

          <p>Subscribe to all posts (main feed):</p>

          <br />

          <ul class="ml-4 space-y-1">
            <li>
              <a href="/posts.rss" class="page-link"
                >{`${config.SITE_DOMAIN}/posts.rss`}</a
              >
            </li>

            <li>
              <a href="/posts.json" class="page-link"
                >{`${config.SITE_DOMAIN}/posts.json`}</a
              >
            </li>
          </ul>
        </section>

        <br />

        <p
          aria-hidden="true"
          class="font-semibold text-danos-primary dark:text-danos-primary-inverted"
        >
          <Prompt /> feeds tag
        </p>

        <br />

        <section>
          <h2 class="sr-only">Tag</h2>

          <p>Subscribe to posts of a specific topic:</p>

          <br />

          <ul class="ml-4 space-y-1">
            <li>
              <code>{`${config.SITE_DOMAIN}/posts/tags/[tag].rss`}</code>
            </li>

            <li>
              <code>{`${config.SITE_DOMAIN}/posts/tags/[tag].json`}</code>
            </li>
          </ul>

          <br />

          <p>
            You can subscribe to any tag listed on the <a
              href="/posts/tags"
              class="page-link">tags</a
            > page. For example:
          </p>

          <br />

          <ul class="ml-4 space-y-1">
            <li>
              <a href="/posts/tags/golang.rss" class="page-link"
                >{`${config.SITE_DOMAIN}/posts/tags/golang.rss`}</a
              >
            </li>

            <li>
              <a href="/posts/tags/til.json" class="page-link"
                >{`${config.SITE_DOMAIN}/posts/tags/til.json`}</a
              >
            </li>
          </ul>
        </section>

        <br />

        <p
          aria-hidden="true"
          class="font-semibold text-danos-primary dark:text-danos-primary-inverted"
        >
          <Prompt /> feeds help
        </p>

        <br />

        <h2 class="sr-only">Tag</h2>

        <p>
          The URLs above are web feeds. Each feed has 2 variants: RSS and JSON.
        </p>

        <br />

        <p>Subscribe to a feed by copying a URL above into your feed reader.</p>

        <p>
          Your reader will then automatically fetch (new) articles from my site!
        </p>

        <br />

        <p>
          You can also try using a URL without the <code>.rss</code> or <code
            >.json</code
          > postfix; your feed reader should automatically choose a format it likes
          best.
        </p>

        <br />

        <p>
          Visit <a href="https://aboutfeeds.com" class="page-link"
            >aboutfeeds.com</a
          > to learn more about RSS feeds and readers.
        </p>

        <p>
          And to learn more about JSON feeds, visit <a
            href="https://www.jsonfeed.org"
            class="page-link">jsonfeed.org</a
          >.
        </p>

        <br />

        <p aria-hidden="true">
          <Prompt />
          <span class="blink">_</span>
        </p>
      </div>
    </div>

    <div
      slot="footer"
      class="flex-1 flex items-center flex-row-reverse gap-5 px-2"
    >
      <div class="flex items-center gap-1 truncate">
        <span class="inline-block">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentcolor"
            class="w-4 h-4"
          >
            <path
              d="M3.75 3a.75.75 0 00-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11 4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 00.75-.75V16C17 8.82 11.18 3 4 3h-.25z"
            ></path>
            <path
              d="M3 8.75A.75.75 0 013.75 8H4a8 8 0 018 8v.25a.75.75 0 01-.75.75h-.5a.75.75 0 01-.75-.75V16a6 6 0 00-6-6h-.25A.75.75 0 013 9.25v-.5zM7 15a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
        </span>

        <span class="inline-block truncate" title={footerText}>
          {footerText}
        </span>
      </div>
    </div>
  </Window>
</PageLayout>
