---
import Prompt from "@components/Prompt.astro"
import Window from "@components/Window.astro"
import * as config from "@config"
import PageLayout from "@layouts/Page.astro"

const banner = `
     █████                         ███████     █████████ 
    ░░███                        ███░░░░░███  ███░░░░░███
  ███████   ██████   ████████   ███     ░░███░███    ░░░ 
 ███░░███  ░░░░░███ ░░███░░███ ░███      ░███░░█████████ 
░███ ░███   ███████  ░███ ░███ ░███      ░███ ░░░░░░░░███
░███ ░███  ███░░███  ░███ ░███ ░░███     ███  ███    ░███
░░████████░░████████ ████ █████ ░░░███████░  ░░█████████ 
 ░░░░░░░░  ░░░░░░░░ ░░░░ ░░░░░    ░░░░░░░     ░░░░░░░░░  
`
---

<PageLayout>
  <Window>
    <div class="p-2 font-mono text-sm page-text">
      <p
        aria-hidden="true"
        class="hidden md:block font-semibold text-danos-primary dark:text-danos-primary-inverted"
      >
        <Prompt /> danos banner
      </p>

      <p
        aria-hidden="true"
        class="hidden md:block whitespace-pre-wrap leading-none text-center text-danos-primary dark:text-danos-primary-inverted"
      >
        {banner}
      </p>

      <br class="hidden md:block" />

      <div class="max-w-2xl">
        <h1 class="sr-only">{config.FULL_NAME}</h1>

        <p>
          <Prompt /> Hi, I'm Dan! {config.PAGES.HOME.DESCRIPTION}
        </p>

        <p aria-hidden="true">
          <Prompt />
        </p>

        <p
          aria-hidden="true"
          class="font-semibold text-danos-primary dark:text-danos-primary-inverted"
        >
          <Prompt /> cat about.txt
        </p>

        <br />

        <p>
          I'm a self-taught software developer from the Netherlands. My
          background is in aviation, but I decided to make a career switch from
          commercial pilot to developer. And I have been coding professionally
          since 2012.
        </p>

        <br />

        <p>
          I build for the web, where I enjoy working on the backend the most.
          And I love to design and build software that's reliable, easy to
          maintain, and scales well.
        </p>

        <br />

        <p>
          Currently I'm working at <a
            href="https://www.framer.com"
            class="page-link">Framer</a
          > as a backend engineer, helping build and scale sites.
        </p>

        <br />

        <p
          aria-hidden="true"
          class="font-semibold text-danos-primary dark:text-danos-primary-inverted"
        >
          <Prompt /> ls links
        </p>

        <br />

        <h2 class="sr-only">Links</h2>

        <ul class="flex items-center gap-6 flex-wrap">
          <li>
            <a href="https://github.com/danillouz" rel="me" class="page-link">
              GitHub
            </a>
          </li>

          <li>
            <a
              href="https://stackoverflow.com/users/4455533/danillouz"
              class="page-link"
            >
              Stack Overflow
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/danillouz" class="page-link">
              Linkedin
            </a>
          </li>

          <li>
            <a
              href="https://mastodon.social/@danillouz"
              rel="me"
              class="page-link"
            >
              Mastodon
            </a>
          </li>
        </ul>

        <br />

        <p>
          <Prompt /> If you want to chat, send me an email to <a
            href={`mailto:${config.EMAIL}`}
            class="page-link">{config.EMAIL}</a
          >
        </p>

        <p aria-hidden="true">
          <Prompt />
          <span class="blink">_</span>
        </p>
      </div>
    </div>
  </Window>
</PageLayout>
