---
import * as config from "@config"
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
import PostsPreview from "@components/PostsPreview.astro"
import { sortPostsRecentlyPublished } from "@utils/posts"

import type { Frontmatter } from "@types"

const posts = await Astro.glob<Frontmatter>("./posts/**/*.mdx")
const postsSorted = sortPostsRecentlyPublished(posts)
const footerText = `${postsSorted.length} ${
  postsSorted.length > 1 ? "posts" : "post"
}`
---

<PageLayout title={config.RSS_TITLE} description={config.RSS_DESCRIPTION}>
  <Window
    tabs={[
      { title: "Posts", isActive: true },
      { href: "/posts/tags", title: "Tags" },
    ]}
  >
    <div class="page-wrapper">
      <header class="page-header">
        <h1 class="page-heading">
          Writing about things I learned and find interesting
        </h1>

        <p class="page-text mt-6">
          See <a class="page-link" href="/posts/tags">tags</a> to discover posts
          by topic. Or browse all posts below.
        </p>
      </header>

      <div class="page-content">
        <PostsPreview posts={postsSorted} />
      </div>
    </div>

    <div
      slot="footer"
      class="flex-1 flex items-center flex-row-reverse gap-5 px-2"
    >
      <div class="flex items-center gap-1 truncate">
        <span class="inline-block">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentcolor"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z"
              clip-rule="evenodd"></path>
          </svg>
        </span>

        <span class="inline-block truncate" title={footerText}>
          {footerText}
        </span>
      </div>
    </div>
  </Window>
</PageLayout>
