---
import { RSS_TITLE, RSS_DESCRIPTION } from "@config"
import PageLayout from "@layouts/Page.astro"

const posts = (await Astro.glob("./posts/*.{md,mdx}")).sort((a, b) => {
  const pubDateA = a.frontmatter.pubDate
  const pubDateB = b.frontmatter.pubDate
  return new Date(pubDateB).getTime() - new Date(pubDateA).getTime()
})
---

<PageLayout title={RSS_TITLE} description={RSS_DESCRIPTION}>
  <section
    class="mx-auto px-6 my-10 sm:my-20 prose sm:prose-lg prose-slate prose-headings:font-serif dark:prose-invert"
  >
    <h1>Posts</h1>
    <ul>
      {
        posts.map((post) => {
          return (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>

              <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString(
                  "en-us",
                  {
                    day: "numeric",
                    month: "short",
                    year: "numeric",
                  }
                )}
              </time>
            </li>
          )
        })
      }
    </ul>
  </section>
</PageLayout>
