---
// Import global CSS here so that it's included on all pages that use <Head />.
import "../styles/global.css"

export interface Props {
  title: string
  description: string
  socialImage?: string
}

const {
  title,
  description,
  socialImage = "/placeholder-social.jpg",
} = Astro.props
---

<head>
  <!-- Global metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- Primary metadata -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph metadata -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(socialImage, Astro.url)} />

  <!-- Twitter metadata -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(socialImage, Astro.url)} />
</head>
