---
interface Props {
  tabs?: { href?: string; title: string; isActive?: boolean }[]
  children: any
}

const { tabs } = Astro.props
---

<figure
  class="flex flex-col fixed inset-0 max-w-3xl lg:max-w-5xl md:mx-auto mt-[29px] md:mt-14 mb-28 md:rounded-lg bg-white dark:bg-zinc-900 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/10 dark:ring-white/20"
>
  <div class="h-7 hidden md:flex md:items-center md:px-2">
    <div class="flex items-center gap-2">
      <span
        class="h-3 w-3 rounded-full border border-zinc-900/20 dark:border-white/20"
      ></span>

      <span
        class="h-3 w-3 rounded-full border border-zinc-900/20 dark:border-white/20"
      ></span>

      <span
        class="h-3 w-3 rounded-full border border-zinc-900/20 dark:border-white/20"
      ></span>
    </div>
  </div>

  <div
    class:list={[
      // Base styles.
      "flex-1 overflow-y-scroll",

      {
        // No tabs styles.
        "md:border-t border-b border-zinc-900/10 dark:border-white/10":
          !Boolean(tabs),
      },
    ]}
  >
    {
      tabs && (
        <div class="z-30 sticky top-0 flex items-center bg-zinc-100/70 dark:bg-black/70 md:border-t border-b border-zinc-900/10 dark:border-white/10 p-1 backdrop-blur">
          {tabs.map((tab) => {
            const { href, isActive = false, title } = tab
            return (
              <div
                class:list={[
                  // Base styles.
                  "h-9 flex items-center text-sm page-text truncate",

                  {
                    // Active styles.
                    "bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-50 ring-1 ring-zinc-900/10 dark:ring-white/20 shadow shadow-zinc-800/5":
                      isActive,
                  },
                ]}
              >
                {href ? (
                  <a
                    href={href}
                    class="px-5 py-2 truncate"
                    aria-current={isActive ? "page" : undefined}
                    title={title}
                  >
                    {title}
                  </a>
                ) : (
                  <span class="px-5 py-2 truncate" title={title}>
                    {title}
                  </span>
                )}
              </div>
            )
          })}
        </div>
      )
    }

    <slot />
  </div>

  <div
    class:list={[
      // Base styles.
      "h-6 flex text-xs page-subtext",

      {
        // Tab styles.
        "border-t border-zinc-900/10 dark:border-white/10": Boolean(tabs),
      },
    ]}
  >
    <slot name="footer" />
  </div>
</figure>
