---
interface Props {
  tabs?: { href?: string; title: string; isActive?: boolean }[]
  children: any
}

const { tabs } = Astro.props
---

<figure
  class="relative flex-1 flex flex-col md:fixed md:inset-0 max-w-3xl lg:max-w-5xl md:mx-auto md:mt-14 md:mb-6 bg-danos-primary dark:bg-danos-primary-inverted md:shadow-retro md:shadow-retro-primary dark:md:shadow-none md:rounded-sm"
>
  <div
    class="hidden md:block absolute inset-0 border border-danos-primary dark:border-danos-primary-inverted md:rounded-sm"
  >
  </div>

  <div class="h-7 hidden md:flex md:items-center md:px-2">
    <div class="flex items-center gap-2">
      <span
        class="h-3 w-3 rounded-full border border-danos-primary dark:border-danos-primary-inverted"
      ></span>

      <span
        class="h-3 w-3 rounded-full border border-danos-primary dark:border-danos-primary-inverted"
      ></span>

      <span
        class="h-3 w-3 rounded-full border border-danos-primary dark:border-danos-primary-inverted"
      ></span>
    </div>
  </div>

  <div
    id="window-scroll-container"
    class:list={[
      // Base styles.
      "flex-1 md:overflow-y-scroll scroll-smooth focus-visible:focusable",

      // Adjust border styles when tabs are (not) present.
      {
        "md:border-t md:border-b border-danos-primary dark:border-danos-primary-inverted":
          !Boolean(tabs),

        "md:border-b border-danos-primary dark:border-danos-primary-inverted":
          Boolean(tabs),
      },
    ]}
  >
    {
      tabs && (
        <div class="z-30 hidden md:flex items-center sticky top-0 gap-1 p-1 bg-danos-secondary/70 dark:bg-danos-secondary-inverted/70 md:border-t md:border-l md:border-r border-b border-danos-primary dark:border-danos-primary-inverted backdrop-blur scroll-x">
          {tabs.map((tab) => {
            const { href, isActive = false, title } = tab
            return (
              <div
                class:list={[
                  // Base styles.
                  "h-9 flex items-center nav-text",

                  {
                    // Active styles.
                    "bg-danos-primary dark:bg-danos-primary-inverted ring-1 ring-danos-primary dark:ring-danos-primary-inverted":
                      isActive,
                  },
                ]}
              >
                {href ? (
                  <a
                    href={href}
                    class="px-3 md:px-6 py-2 focusable rounded-none whitespace-nowrap"
                    aria-current={isActive ? "page" : undefined}
                    title={title}
                  >
                    {title}
                  </a>
                ) : (
                  <span
                    class="px-3 md:px-6 py-2 whitespace-nowrap"
                    title={title}
                  >
                    {title}
                  </span>
                )}
              </div>
            )
          })}
        </div>
      )
    }

    <!-- Put aside first, so we tab into that first. -->
    <slot name="aside" />

    <div class="relative">
      <slot />
    </div>
  </div>

  <div class="h-6 hidden md:flex page-subtext text-xs">
    <slot name="footer" />
  </div>
</figure>
