---
import "@styles/base.css"
import { SITE_TITLE, SITE_DESCRIPTION, RSS_TITLE, FULL_NAME } from "@config"
import NavLink from "@components/NavLink.astro"

interface Props {
  title?: string
  description?: string
  socialImage?: string
  children: any
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  socialImage = "/placeholder-social.jpg",
} = Astro.props

const rssTitle = `RSS feed for ${RSS_TITLE}`
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <!-- Global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Primary metadata -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- RSS metadata -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title={rssTitle}
      href={new URL("/feed.xml", Astro.url)}
    />

    <!-- Open Graph metadata -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(socialImage, Astro.url)} />

    <!-- Twitter metadata -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(socialImage, Astro.url)} />
  </head>

  <body
    class="flex flex-col min-h-screen bg-zinc-50 dark:bg-black transition-colors duration-500"
  >
    <header
      class="z-40 h-7 flex items-center justify-between w-full sticky top-0 px-4 bg-white dark:bg-zinc-900 text-zinc-800 dark:text-zinc-100 shadow-sm shadow-zinc-800/5 transition-colors duration-500"
    >
      <div class="flex items-center sm:gap-4">
        <span class="hidden sm:inline-block py-1 text-sm font-bold"
          >{FULL_NAME}</span
        >

        <nav class="flex items-center">
          <NavLink href="/">Home</NavLink>
          <NavLink href="/posts">Posts</NavLink>
        </nav>
      </div>

      <div>
        <a
          class="flex items-center -mr-1 p-1"
          href="/feed.xml"
          target="_blank"
          title={rssTitle}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              d="M3.75 3a.75.75 0 00-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11 4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 00.75-.75V16C17 8.82 11.18 3 4 3h-.25z"
            ></path>
            <path
              d="M3 8.75A.75.75 0 013.75 8H4a8 8 0 018 8v.25a.75.75 0 01-.75.75h-.5a.75.75 0 01-.75-.75V16a6 6 0 00-6-6h-.25A.75.75 0 013 9.25v-.5zM7 15a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
        </a>
      </div>
    </header>

    <main class="flex-1 transition-colors duration-500 antialiased">
      <slot />
    </main>
  </body>
</html>
