---
import "@styles/base.css"
import { SITE_TITLE, SITE_DESCRIPTION, RSS_TITLE, FULL_NAME } from "@config"
import DockLink from "@components/DockLink.astro"

interface Props {
  title?: string
  description?: string
  socialImage?: string
  children: any
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  socialImage = "/placeholder-social.jpg",
} = Astro.props

const rssTitle = `RSS feed for ${RSS_TITLE}`
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <!-- Global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Primary metadata -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- RSS metadata -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title={rssTitle}
      href={new URL("/feed.xml", Astro.url)}
    />

    <!-- Open Graph metadata -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(socialImage, Astro.url)} />

    <!-- Twitter metadata -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(socialImage, Astro.url)} />
  </head>

  <body class="flex flex-col min-h-screen bg-zinc-50 dark:bg-black">
    <header
      class="z-40 h-7 flex items-center justify-between w-full sticky top-0 px-4 bg-white nav-text dark:bg-zinc-900 ring-1 ring-zinc-900/10 dark:ring-white/20 shadow-sm shadow-zinc-800/5"
    >
      <div class="flex items-center sm:gap-4">
        <span class="inline-block py-1 font-bold">{FULL_NAME}</span>
      </div>

      <div>
        <a
          class="flex items-center -mr-1 p-1"
          href="/feed.xml"
          target="_blank"
          title={rssTitle}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              d="M3.75 3a.75.75 0 00-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11 4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 00.75-.75V16C17 8.82 11.18 3 4 3h-.25z"
            ></path>
            <path
              d="M3 8.75A.75.75 0 013.75 8H4a8 8 0 018 8v.25a.75.75 0 01-.75.75h-.5a.75.75 0 01-.75-.75V16a6 6 0 00-6-6h-.25A.75.75 0 013 9.25v-.5zM7 15a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
        </a>
      </div>
    </header>

    <main class="antialiased">
      <slot />

      <nav
        class="fixed left-0 right-0 bottom-0 md:bottom-2 flex items-center justify-center gap-5 px-2 py-1 mx-auto md:max-w-[12rem] bg-white dark:bg-zinc-900 shadow-lg shadow-zinc-800/5 ring-0 md:ring-1 ring-zinc-900/10 dark:ring-white/20 md:rounded-lg"
      >
        <DockLink href="/" title="Home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 6a3 3 0 013-3h13.5a3 3 0 013 3v12a3 3 0 01-3 3H5.25a3 3 0 01-3-3V6zm3.97.97a.75.75 0 011.06 0l2.25 2.25a.75.75 0 010 1.06l-2.25 2.25a.75.75 0 01-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06zm4.28 4.28a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
              clip-rule="evenodd"></path>
          </svg>
        </DockLink>

        <DockLink href="/posts" title="Posts">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M5.566 4.657A4.505 4.505 0 016.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0015.75 3h-7.5a3 3 0 00-2.684 1.657zM2.25 12a3 3 0 013-3h13.5a3 3 0 013 3v6a3 3 0 01-3 3H5.25a3 3 0 01-3-3v-6zM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 016.75 6h10.5a3 3 0 012.683 1.657A4.505 4.505 0 0018.75 7.5H5.25z"
            ></path>
          </svg>
        </DockLink>
      </nav>
    </main>
  </body>
</html>
