---
import "@fontsource/merriweather"
import "@styles/base.css"
import * as config from "@config"
import { Nav, Link } from "@components/Nav"

interface Props {
  title?: string
  description?: string
  socialImage?: string
  children: any
}

const {
  title = config.PAGES.HOME.TITLE,
  description = config.PAGES.HOME.DESCRIPTION,
  socialImage = "/social-dark.png",
} = Astro.props

const { pathname } = Astro.url
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Site metadata -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Theme metadata -->
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />

    <!-- zinc-900 -->
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#18181b"
    />

    <!-- Icon metadata -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple.png" />

    <!-- Manifest metadata -->
    <link rel="manifest" href="/manifest.json" />

    <!-- RSS metadata -->
    <slot name="rss">
      <link
        rel="alternate"
        type="application/rss+xml"
        title={config.PAGES.POSTS.TITLE}
        href={new URL("/posts.rss", Astro.url)}
      />

      <link
        rel="alternate"
        type="application/feed+json"
        title={config.PAGES.POSTS.TITLE}
        href={new URL("/posts.json", Astro.url)}
      />
    </slot>

    <!-- Webmention (receiver) -->
    <link
      rel="webmention"
      href={`https://webmention.io/${config.WEBMENTION_USERNAME}/webmention`}
    />
    <link
      rel="pingback"
      href={`https://webmention.io/${config.WEBMENTION_USERNAME}/xmlrpc`}
    />

    <!-- Open Graph metadata -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(socialImage, Astro.url)} />

    <!-- Twitter metadata -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(socialImage, Astro.url)} />
  </head>

  <body
    class="bg-danos-body dark:bg-danos-body-inverted font-serif antialiased pattern-boxes"
  >
    <main class="flex flex-col min-h-screen">
      <!-- bg-zinc-900/90 dark:zinc-800/90 -->
      <header
        class="z-40 sticky top-0 bg-[#18181b]/90 dark:bg-[#27272a]/90 backdrop-blur font-sans text-sm text-danos-primary-inverted"
      >
        <Nav client:load title={config.FULL_NAME}>
          <Link client:load href="/" pathname={pathname}>Home</Link>
          <Link client:load href="/posts" pathname={pathname}>Posts</Link>
          <Link client:load href="/feeds" pathname={pathname}>Feeds</Link>
        </Nav>
      </header>

      <slot />
    </main>
  </body>
</html>
