---
import { FULL_NAME } from "../config"
import PageLayout from "./Page.astro"

export interface Props {
  frontmatter: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
    heroImageAlt?: string
    readingTime: string
  }
}

const {
  frontmatter: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    heroImageAlt,
    readingTime, // Injected by `plugins/reading-time.mjs`
  },
} = Astro.props
---

<PageLayout title={title} description={description}>
  <article
    class="mx-auto px-6 my-10 sm:my-20 prose sm:prose-lg prose-slate prose-headings:font-serif dark:prose-invert"
  >
    {
      heroImage && (
        <img width={720} height={360} src={heroImage} alt={heroImageAlt} />
      )
    }

    <h1>{title}</h1>

    <div class="flex flex-col italic">
      {
        pubDate && (
          <span>
            Posted <time>{pubDate}</time> by {FULL_NAME}
          </span>
        )
      }

      {
        updatedDate && (
          <span>
            Last updated <time>{updatedDate}</time>
          </span>
        )
      }

      <span>{readingTime}</span>
    </div>

    <p>{description}</p>

    <hr />
    <slot />
  </article>
</PageLayout>
