---
import { FULL_NAME } from "../config"
import Page from "./Page.astro"

export interface Props {
  content: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
    heroImageAlt?: string
  }
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    heroImageAlt,
  },
} = Astro.props
---

<Page title={title} description={description}>
  <article
    class="mx-auto px-6 my-20 prose prose-slate prose-headings:font-serif dark:prose-invert"
  >
    {
      heroImage && (
        <img width={720} height={360} src={heroImage} alt={heroImageAlt} />
      )
    }

    <h1>{title}</h1>
    <p>{pubDate && <time>{pubDate}</time>} by <strong>{FULL_NAME}</strong></p>
    <p>{description}</p>

    {
      updatedDate && (
        <p>
          Last updated <time>{updatedDate}</time>
        </p>
      )
    }

    <hr />
    <slot />
  </article>
</Page>
