---
import PageLayout from "@layouts/Page.astro"
import PageContainer from "@components/PageContainer.astro"
import Time from "@components/Time.astro"
import Tag from "@components/Tag.astro"

import type { Frontmatter } from "@types"

interface Props {
  frontmatter: Frontmatter
  children: any
}

const {
  frontmatter: {
    title,
    description,
    tags,
    publishedAt,
    updatedAt,
    heroImage,
    heroImageAlt,
    readingTime,
  },
} = Astro.props
---

<PageLayout title={title} description={description}>
  <PageContainer>
    <article class="mx-auto max-w-2xl">
      <header class="flex flex-col">
        <h1 class="page-h1 mt-6">
          {title}
        </h1>

        <p class="order-first text-base text-zinc-400 dark:text-zinc-500">
          {
            publishedAt && (
              <>
                <Time datetime={publishedAt} /> &bull;
              </>
            )
          }

          {readingTime}

          {
            updatedAt && (
              <>
                &bull; last updated <Time datetime={updatedAt} />
              </>
            )
          }
        </p>
      </header>

      <div
        class="mt-8 prose prose-zinc prose-headings:font-serif dark:prose-invert"
      >
        <p>{description}</p>

        <div class="not-prose">
          <ul class="list-none flex flex-wrap items-center gap-2">
            {
              tags.map((tag) => {
                return (
                  <li class="flex">
                    <Tag name={tag}>{tag}</Tag>
                  </li>
                )
              })
            }
          </ul>
        </div>

        {
          heroImage ? (
            <img width={720} height={360} src={heroImage} alt={heroImageAlt} />
          ) : (
            <hr />
          )
        }

        <slot />
      </div>
    </article>
  </PageContainer>
</PageLayout>
